body {
  background-color: #FBF8F1;
}

center {
  text-align: center;
  border: 3px solid green;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: darkred;
  border-width: 5px;
  width: 30%
}

h1 {
  color: #54BAB9;
  text-align: center;
}

h3 {
  color: #54BAB9;
  text-align: center;
}

p {
  text-align: center;
}

.myList {
  text-align: center;
  list-style-position: inside;
}

.myTable {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.mySkills {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.contactForm {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*******************ID SELECTORS******************/

#heading {
  color: #1572A1;
  font-family: cursive;
}
